
{% include "@molecules/headline/headline.twig" with {"headline": headline} only %}
<div>
    {{ richtext |raw }}
    {{ richtext |raw }}
</div>

{% include "@molecules/picture/picture.twig" with picture only %}
